.Card {
  display: flex;
  flex-flow: column;
  max-width: 285px;
  min-width: 285px;
  height: 550px;
  border: 2px solid var(--gray-primary);
}

.Card figcaption {
  margin: 20px;
}

.Card h4 {
  font-size: 28px;
  padding: 0 12px 16px;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--gray-primary);
  color: #496B97;
}

.Card p {
  font-size: 17px;
  color: var(--gray-primary);
}